*.s
*.o
*.int
*.i
*~
*.dis
ASM
OCODE
INTCODE
mapfile
*.old
xg
src/examples/cmpltest
src/examples/getbyte
src/examples/msg
src/examples/vect
src/examples/hello
src/examples/pretty
src/examples/recurse
