*.s
*.o
*.int
*.i
*~
*.dis
ASM
OCODE
INTCODE
mapfile
*.old
*.asm
*.log
xg
src/examples/cmpltest
src/examples/getbyte
src/examples/msg
src/examples/vect
src/examples/hello
src/examples/pretty
src/examples/recurse
src/examples/byteSieve
src/examples/relation
src/examples/vect2
